// COLORS

$primary-orange-color: #d87d4a;
$primary-black-color: #101010;
$primary-milk-white-color: #f1f1f1;
$primary-white-color: #fafafa;

// SECONDARY COLORS:

$secondary-light-orange-color: #fbaf85;
$secondary-white-color: #ffffff;
$secondary-black-color: #000000;
$secondary-grey-color: #4c4c4c;

// COLORS END

$body-ff: "Manrope", sans-serif;

$ff-w-700: 700;
$ff-w-500: 500;

$h1-size: 5.6rem;
$h1-lh: 5.8rem;
$h1-lt: 0.2rem;

$h2-size: 4rem;
$h2-lh: 4.4rem;
$h2-lt: 0.143rem;

$h3-size: 3.2rem;
$h3-lh: 3.6rem;
$h3-lt: 0.114rem;

$h4-size: 2.8rem;
$h4-lh: 3.825rem;
$h4-lt: 0.2rem;

$h5-size: 2.4rem;
$h5-lh: 3.278rem;
$h5-lt: 0.171rem;

$h6-size: 1.8rem;
$h6-lh: 2.459rem;
$h6-lt: 0.129rem;

$p-s: 1.5rem;
$p-lh: 2.5rem;
$p-fw: 500;

$sub-tytle-s: 1.3rem;
$sub-tytle-lh: 2.5rem;
$sub-tytle-lt: 0.093rem;
$sub-tytle-lt-2: 0.2rem;

$overline-s: 1.4rem;
$overline-lh: 1.9rem;
$overline-lt: 1rem;
$overline-fw: 400;

$button-3-s: 1.3rem;
$button-3-lh: 1.778rem;
$button-3-lt: 0.1rem;
